lexicon.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="lexicon">
        <xs:complexType>

            <xs:sequence>
                <xs:element name="lexicalEntry" maxOccurs="unbounded">
                    <xs:complexType>

                        <xs:sequence>
                            <xs:element name="form" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="type" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            
                            <xs:element name="sense" maxOccurs="unbounded">
                                <xs:complexType>

                                    <xs:sequence>
                                        <xs:element name="definition" maxOccurs="unbounded">
                                            <xs:complexType mixed="true">

                                                <xs:sequence>
                                                    <xs:element name="example" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="author" type="xs:string"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>

                                                <xs:attribute name="editorialNote" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    
                                    <xs:attribute name="partOfSpeech" type="xs:string" use="required"/>
                                    <xs:attribute name="editorialNote" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="lemma" type="xs:string" use="required"/>
                        <xs:attribute name="language" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            
            <xs:attribute name="label" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>